<template id="">
  <div class="">
      <a href="www.logicsoftbd.com">Logic Software Ltd</a> <i class="fa fa-copyright" aria-hidden="true"></i>2017 Platform.
      <span class="float-right">Powered by <a href="www.logicsoftbd.com">Logic Software</a></span>
  </div>
</template>

<script type="text/javascript">

   export default {
     
   }
</script>
