<template>
  <header class="navbar">
      <a href="/dashboard" class="navbar-brand" aria-disabled="false"></a>
      <!--<button type="button" class="navbar-toggler sidebar-toggler d-md-down-none">?</button>-->
      <button type="button"  class="navbar-toggler sidebar-toggler d-md-down-none">
          <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <ul class="d-md-down-none nav navbar-nav">
          <li class="nav-item px-3">
              <router-link :to="{ name: 'dashboard' }" target="_self" class="nav-link" aria-disabled="false">Dashboard</router-link>
          </li>
      </ul>
  </header>
</template>

<script type="text/javascript">
  export default {

  }
</script>
