<template id="">
  <div class="sidebar">
     I am Sidebar
  </div>
</template>


<script type="text/javascript">

  export default {
    methods: {
    handleClick (e) {
      e.preventDefault()
      e.target.parentElement.classList.toggle('open')
    }
  }

  }
</script>
<style scoped>
  .nav-item{
    cursor: pointer;
  }
</style>
