<template>
    <router-view>

    </router-view>
</template>

<script>
    export default {
        created: function(){

        }
    }
</script>

<style lang="scss">
    @import "../css/bootvue/bootstrap.min.css";
    @import "../css/bootvue/bootstrap-vue.css";
</style>
